<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wines.mapper.WineryMapper">

  <!--findAllUser-->
  <select id="selectWinesByWinery" resultType="wines">
    select * from Wines where WineryName=#{wineryName}
  </select>

  <select id="selectAllWinery" resultType="winery">
    select * from Winery
  </select>
</mapper>