<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wines.mapper.WineMapper">


  <!--findAllUser-->
  <select id="selectAll" resultType="wines">
    select * from Wines
  </select>

  <select id="selectWinesByWineTitle" resultType="wines">
    select * from Wines where wineTitle=#{wineTitle} limit 1
  </select>
</mapper>